
body {
    /* background-color: #EFF3F6; */
}

.swiper-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.swiper-slide {
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: aquamarine;
    margin-top: 10px;
}

#image {
    width: 80%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}